APP_NAME=screeeny
APP_ENV=${APP_ENV}
APP_KEY=${APP_KEY}
APP_DEBUG=${APP_DEBUG}
APP_URL=${APP_URL}

LOG_CHANNEL=stack

DB_CONNECTION=${DB_CONNECTION}
DB_HOST=${DB_HOST}
DB_PORT=${DB_PORT}
DB_DATABASE=${DB_DATABASE}
DB_USERNAME=${DB_USERNAME}
DB_PASSWORD=${DB_PASSWORD}

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=${REDIS_HOST}
REDIS_PASSWORD=${REDIS_PASSWORD}
REDIS_PORT=${REDIS_PORT}

MAIL_DRIVER=${MAIL_DRIVER}
MAIL_HOST=${MAIL_HOST}
MAIL_PORT=${MAIL_PORT}
MAIL_USERNAME=${MAIL_USERNAME}
MAIL_PASSWORD=${MAIL_PASSWORD}
MAIL_ENCRYPTION=${MAIL_ENCRYPTION}

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DRIVER=public

GITHUB_CLIENT_ID=${GITHUB_CLIENT_ID}
GITHUB_SECRET=${GITHUB_SECRET}
GITHUB_REDIRECT_URL=${GITHUB_REDIRECT_URL}

BUGSNAG_API_KEY=${BUGSNAG_API_KEY}

DEPLOY_PATH_PRODUTION=
DEPLOY_PATH_STAGE=

SCREEENLY_DISABLE_SANDBOX=${SCREEENLY_DISABLE_SANDBOX}
